#email{
	margin-left: 10px;
	margin-top: -5px;
	border:1px solid #1b85ba;
}
#phone{
	margin-left: 10px;
	margin-top: -5px;
	border:1px solid #1b85ba;
}
.class22{
	margin-top: 10px;
	margin-left: 10px;
}
.class11{
	margin-left: 10px;
}
#submit-btn{
	margin-top: 10px;
	margin-left: 20px;
}
