.title {
	text-align: center;
	font-size: 36px;
}
.grid-box {
	border: blue 1px solid;
	height: 100px;
}
.letter {
	font-size: 36px;
	text-align: center;
	vertical-align: middle;
}
.grid-box{
    text-align: center;
    padding-top: 30px;
    font-weight: bold;
    font-size: 30px;
    color: #ea4335;
  }
