/**{
	border:1px solid black;
}*/
.header{
	color: #66CDAA;
	font-size: 6rem;
	margin-top: 90px;
	margin-left: 310px;
	padding-left: 50px;
	font-family: verdana;
	font-weight: 100;
}
.Description{
	color: #FF69B4;
	font-weight: 400;
	font-size: 1.5rem;
	margin-top: 40px;
	margin-left: 490px; 
}
.bounce{
	height: 35px;
	width: 160px;
	font-size: 20px;
	margin-top: 60px;
	margin-left: 490px;
	padding-top: 10px;
	padding-left: 10px;
	border: 1px solid #C0C0C0;
	border-radius: 5px;
	cursor: pointer;

}
.Animate{
	color: #FFA07A;
	height: 35px;
	width: 95px;
	font-size: 20px;
	margin-top: -47px;
	margin-left: 680px;
	padding-top: 10px;
	padding-left: 15px;
	border: 1px solid #FFA07A;
	border-radius: 5px;
	cursor: pointer;
}
.links{
	font-size: 18px;
	margin-left: 500px;
	margin-top: 20px;
}
.thing{
	margin-left: 540px;
	margin-top: 30px;
}
hr{
	margin-top:30px;
	margin-left: 395px; 
	margin-right: 355px;
}
a:hover{
    text-decoration:none;
    font-weight:bold;
    color:#cc0000;
 }
span{
	padding-left: 68px;
	font-size: 50%;

}
.Animate:hover{
	background-color: #E6E6FA;
	transition: 0.2s
}
.dropdown{
	background-color: pink;  
    width: 200px;
    height: 100px;
	border:1px solid black;
	opacity: 0;
	position: absolute;
	margin: 100px;

}
.dropdown_item{
	width: 50px;
	visibility: visible;
	opacity: 0;
	height: 50px;
}
